# 移除以下文件或目录
node_modules/
npm-debug.log
yarn-error.log

# 依赖包文件
package-lock.json
yarn.lock

# 系统临时文件
.DS_Store
Thumbs.db

# 环境变量文件
.env

# IDE/编辑器生成的文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 日志文件
*.log