.terms-con{
    ul.lst-kix_k6spqqdpycj5-0 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-1 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-2 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-3 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-4 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-5 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-6 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-7 {
        list-style-type: none;
      }
      ul.lst-kix_k6spqqdpycj5-8 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_x5034h5agjac-8 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_rzpe8gcnbnql-0 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-2 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-7 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_rzpe8gcnbnql-1 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-4 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-3 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-6 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-4 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_x5034h5agjac-8 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-5 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-2 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_x5034h5agjac-7 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-8 {
        list-style-type: none;
      }
      ul.lst-kix_x5034h5agjac-6 {
        list-style-type: none;
      }
      ul.lst-kix_rzpe8gcnbnql-7 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-1 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_x5034h5agjac-5 {
        list-style-type: none;
      }
      ul.lst-kix_x5034h5agjac-4 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-5 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_x5034h5agjac-3 {
        list-style-type: none;
      }
      ul.lst-kix_x5034h5agjac-2 {
        list-style-type: none;
      }
      ul.lst-kix_x5034h5agjac-1 {
        list-style-type: none;
      }
      ul.lst-kix_x5034h5agjac-0 {
        list-style-type: none;
      }
      .lst-kix_x5034h5agjac-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_rzpe8gcnbnql-8 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_x5034h5agjac-0 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_k6spqqdpycj5-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_rzpe8gcnbnql-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_k6spqqdpycj5-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_rzpe8gcnbnql-1 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_rzpe8gcnbnql-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_rzpe8gcnbnql-0 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_rzpe8gcnbnql-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_k6spqqdpycj5-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_k6spqqdpycj5-7 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_k6spqqdpycj5-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_k6spqqdpycj5-8 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_rzpe8gcnbnql-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_k6spqqdpycj5-1 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_rzpe8gcnbnql-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_rzpe8gcnbnql-7 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_k6spqqdpycj5-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_k6spqqdpycj5-0 > li:before {
        content: "\0025cf   ";
      }
      li.li-bullet-0:before {
        margin-left: -18pt;
        white-space: nowrap;
        display: inline-block;
        min-width: 18pt;
      }
      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c4 {
        margin-left: 36pt;
        padding-top: 12pt;
        padding-left: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c1 {
        color: #FFFFFF;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: Poppins;
        font-style: normal;
      }
      .c5 {
        color: #FFFFFF;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 17pt;
        font-family: Poppins;
        font-style: normal;
      }
      .c6 {
        color: #FFFFFF;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 13pt;
        font-family: Poppins;
        font-style: normal;
      }
      .c9 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt;
      }
      .c2 {
        padding-top: 14pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c7 {
        padding-top: 12pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c3 {
        padding-top: 18pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c11 {
        color: #FFFFFF;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 23pt;
        font-family: Poppins;
        font-style: normal;
      }
      .c0 {
        padding-top: 24pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: center;
      }
      .c12 {
        background-color: #ffffff;
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt;
      }
      .c8 {
        padding: 0;
        margin: 0;
      }
      .c10 {
        font-weight: 700;
      }
      .title {
        padding-top: 0pt;
        color: #FFFFFF;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #FFFFFF;
        font-size: 11pt;
        font-family: Poppins;
      }
      p {
        margin: 0;
        color: #FFFFFF;
        font-size: 11pt;
        font-family: Poppins;
      }
      h1 {
        padding-top: 20pt;
        color: #FFFFFF;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #FFFFFF;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: Poppins;
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
}

//mobile
@media only screen and (max-width: 640px) {
    .c12 {
        padding: 20pt 20pt 20pt 20pt;
    }
    .c1 {
        font-size: 10pt;
    }
    .c5 {
        font-size: 16pt;
    }
    .c6 {
        font-size: 12pt;
    }
    .c9 {
        height: 10pt;
    }
    .c2 {
        font-size: 12pt;
    }
    .c7 {
        font-size: 12pt;
    }
    .c3 {
        font-size: 14pt;
    }
    .c11 {
        font-size: 20pt;
    }
    .c0 {
        padding-top: 20pt;
        padding-bottom: 4pt;
    }
    .title {
        font-size: 24pt;
    }
    .subtitle {
        font-size: 14pt;
    }
    li {
        font-size: 10pt;
    }
    p {
        font-size: 10pt;
    }
    h1 {
        font-size: 18pt;
    }
    h2 {
        font-size: 14pt;
    }
    h3 {
        font-size: 12pt;
    }
    h4 {
        font-size: 10pt;
    }
    h5 {
        font-size: 10pt;
    }
    h6 {
        font-size: 10pt;
    }
}